.navbar {
  background-color: #9900FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

/* Estilos do nome da navbar */
.navbar-name {
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Estilos do ícone do perfil */
.navbar-profile-icon {
  color: white;
  font-size: 24px;
  transition: color 0.3s;
}

/* Estilos de hover do ícone do perfil */
.navbar-profile-icon:hover {
  color: orange;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
}

h1 {
  color: #FF4742;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;

}

button {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

button:hover,
button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

button:active {
  opacity: .5;
}

#resultado {
  font-weight: bold;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: #9900FF;
  color: #000;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.vodiapicker, .vodiapicker-2 {
  display: none; 

}

#a, #a-2 {
  padding-left: 0px;
}

#a img, #a-2 img, .btn-select img, .btn-select-2 img {
  width: 12px;
}

#a li, #a-2 li {
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#a li:hover, #a-2 li:hover {
 background-color: #FF4742;
}

#a li img, #a-2 li img {
  margin: 5px;
  
}

#a li span, #a-2 li span, .btn-select li span, .btn-select-2 li span {
  margin-left: 30px;
  
}

/* item list */

.b, .b-2 {
  display: none;
  width: 100%;
  max-width: 350px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 5px;
  
}

.btn-select, .btn-select-2, .relativecontainer {
  margin-top: 10px;
  width: 100%;
  max-width: 350px;
  height: 34px;
  border-radius: 5px;
  
  background-color: #9900FF;
  border: 1px solid #ccc;
}

.btn-select li, .btn-select-2 li {
  list-style: none;
  padding-bottom: 0px;
  color:#000
}

.btn-select:hover, .btn-select-2:hover {
  background-color: #F4F3F3;

}

.lang-select{
  text-align: center;
}



